# Java
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
target/
out/
*.log
.data

# Maven
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg
*.sqlite3

# VS Code
.vscode/

# React / Node / JavaScript / TypeScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
dist/
.env
.DS_Store

# MacOS
.DS_Store
